<div class="bg-section1">
<div class="wrap-section1" >
<div class="left action">


</div>
<div class="right action">
<a href="#" id="button-cart">CART(0) <span>$00.00</span> <i class="material-icons right small">shopping_cart</i></a>
<div id="wrap-preview-cart">
<div  class="preview_cart card-panel hoverable">

<div class="row">
 <div class="col s12 navegacion">
   <i class="material-icons right close-preview-cart">clear</i>
 </div>
 <div class="col s12 items">

     <!-- Items del carrito de compras  [inicio]-->
     <!-- Item #2 -->
     <div class="item row card cart">
         <div class="col s12 close"><a href="#" class="close-item-cart"><i class="material-icons tiny right">clear</i></a></div>
         <div class="col s12 description-item">
           <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           <p class="price">$00.00</p>
           <div class="wrap-units">
               <i class="material-icons left tiny add-unit-item action">add</i>
               <input type="text" value="1" name="units-item">
               <i class="material-icons left tiny remove-unit-item action">remove</i>
           </div>
         </div>
     </div>
     <!-- Item #2 -->
     <div class="item row card cart">
         <div class="col s12 close"><a href="#" class="close-item-cart"><i class="material-icons tiny right">clear</i></a></div>
         <div class="col s12 description-item">
           <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           <p class="price">$00.00</p>
           <div class="wrap-units">
               <i class="material-icons left tiny add-unit-item action">add</i>
               <input type="text" value="1" name="units-item">
               <i class="material-icons left tiny remove-unit-item action">remove</i>
           </div>
         </div>
     </div>
     <!-- Items del carrito de compras  [final]-->

 </div>
 <div class="col s12 total">
   <div class="left">
     <h6>Sub Total</h6>
     <h6 class="discount">10% Discount</h6>
     <h6 class="bold">Total</h6>
   </div>
   <div class="right">
     <h6>$00.00</h6>
     <h6 class="discount">$00.00</h6>
     <h6 class="bold">$00.00</h6>
   </div>
 </div>
 <div class="col s12 actions">
   <div class="left">
     <a class="waves-effect waves-light btn">VIEW CART</a>
   </div>
   <div class="right">
       <a class="waves-effect waves-light btn">CHECKOUT</a>
   </div>
 </div>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="wrap-contenido" id="index">
<div class="row">
<!-- seccion central de la pagina  del titulo de la pagina -->
<div class="col s12 title">
<h1 class="center-align">GIFT CERTIFICATES</h1>
</div>
<!-- seccion izquierda de la pagina banners -->
<div class="col m12 l3 hide-on-small-only banners center">
<div class="card-panel hours">
 <img src="img/RoyalMarket.png" class="responsive-img" alt="Royal Market" />
 <h4 >The Royal Market stores open daily:</h4>
 <ul>
   <li>From 7 a.m. to 11 p.m.
   In the Cancun Royal Resorts
   </li>
   <li>From 7 a.m. to 10:30 p.m.
   At The Royal Haciendas®.</li>
 </ul>
</div>
<a href="#"><img src="img/scooter_rentals.png" class="responsive-img hide-on-med-and-down" alt="scooter rentals" /></a>


</div>

<!-- seccion derecha de la pagina  -->
<div class="col s12 m12 l9 content-page">
<div id="owl-demo" class="owl-carousel owl-theme">
   <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/gift-certificate.jpg" alt="The Royal Market"></div>
   <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/gift-certificate-2.jpg" alt="The Royal Market"></div>
</div>
<div class="row">
  <div class="col s12 center-align">
    <img class='responsive-img center' src="img/Villa_Delivery.png" alt="Villa Delivery" />
  </div>
  <div class="col s12 menu-gallery">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="left">Popular Products</a>
          <ul class="right">
            <li class="input-field hide-on-med-and-down">
                <a class="dropdown-button" href="#" data-activates="departamentos">Categories<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li class="input-search">
               <input id="search" type="search" required>
            </li>
            <li class="icon-btn"><i class="material-icons">search</i></li>
            <li><a href="#" class="hide-on-small-only action column active"><i class="material-icons columnas_icon">view_module</i></a></li>
            <li><a href="#" class="hide-on-small-only action list"><i class="material-icons">list</i></a></li>
            <li><a href="mobile.html" class="hide-on-small-only">View All</a></li>
          </ul>
          <!-- Dropdown Structure -->
          <ul id="departamentos" class="dropdown-content hide-on-med-and-down">
            <li><a href="#!" class="menu-categories" data-opciones="chocolatescandies">CHOCOLATES AND CANDIES</a></li>
            <li><a href="#!" class="menu-categories" data-opciones="flowers">FLOWERS</a></li>
            <li><a href="#!" class="menu-categories" data-opciones="fruitbaskets">FRUIT BASKETS</a></li>
            <li><a href="#!" class="menu-categories" data-opciones="liquors">LIQUORS</a></li>
            <li><a href="#!" class="menu-categories" data-opciones="wine">WINE</a></li>
          </ul>
        </div>
      </nav>

      <div class="card-panel sub-menu row">
        <div class=" col s12">
          <a href="" id="button-departaments" class="left hide-on-large-only" data-activates="mobile-departaments" >Departaments <i class="material-icons right small">keyboard_arrow_down</i></a>
          <!-- agregar el mismo name que el data-opciones del menu categoria -->
          <ul class="left hide-on-med-and-down contenedor-opciones" id="chocolatescandies">
            <li><a href="#" class="opcion-prueba">Opcion 1</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 2</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 3</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 6</a></li>
          </ul>
          <ul class="left hide-on-med-and-down contenedor-opciones" id="flowers">
            <li><a href="#" class="opcion-prueba">Opcion 1</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 2</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 3</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 5</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 6</a></li>
          </ul>
          <ul class="left hide-on-med-and-down contenedor-opciones" id="fruitbaskets">
            <li><a href="#" class="opcion-prueba">Opcion 1</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 2</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 3</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 4</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 6</a></li>
          </ul>
          <ul class="left hide-on-med-and-down contenedor-opciones" id="liquors">

            <li><a href="#" class="opcion-prueba">Opcion 2</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 3</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 4</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 5</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 6</a></li>
          </ul>
          <ul class="left hide-on-med-and-down contenedor-opciones" id="wine">
            <li><a href="#" class="opcion-prueba">Opcion 1</a></li>

            <li><a href="#" class="opcion-prueba">Opcion 3</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 4</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 5</a></li>
            <li><a href="#" class="opcion-prueba">Opcion 6</a></li>
          </ul>

        </div>
      </div>
      <!-- Menu mobile de las categorias agregar aqui nuevamente cada una de las categorias [Inicio] -->
      <ul class="side-nav navbar-fixed collapsible" id="mobile-departaments">
        <li>
          <!-- nombre de categoria -->
          <div class="collapsible-header">Groceries<i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <!-- opciones de la categoria -->
            <ul>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 1</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 2</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">opcion 3</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Dairy<i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 1</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 2</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">opcion 3</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Fruit & Vegetables<i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 1</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 2</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">opcion 3</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Our Bakery<i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 1</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">Opcion 2</a></li>
              <li><a href="#" class="azul-fuerte-diseno-text">opcion 3</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <!-- Menu mobile de los departamentos [Final] -->
  </div>
</div>

<!-- pagination -->
<div class="row">
  <ul class="pagination right">
     <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
     <li class="active"><a href="#!">1</a></li>
     <li class="waves-effect"><a href="#!">2</a></li>
     <li class="waves-effect"><a href="#!">3</a></li>
     <li class="waves-effect"><a href="#!">4</a></li>
     <li class="waves-effect"><a href="#!">5</a></li>
     <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
   </ul>
</div>
 <!-- fin pagination -->

<!-- wrap para los productos -->
<div class="row wrap-product-items column">

      <!-- item #1 [inicio]-->
      <div class="product-item card-panel">
         <div class="row">
             <div class="image center-align">
                 <img src="http://www.royalresorts.com/wp-content/uploads/2016/02/gift-250.png?w=1500" alt="chocolate" class="responsive-img" />
             </div>
             <div class="description">
               <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               </p>
               <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
               <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
             </div>
             <div class="units">
               <h6 class="price center-align">$00.0 MX</h6>
               <div class="wrap-units clear">
                   <div class="wrap-icon">
                     <i class="material-icons tiny right  add-unit-item action">add</i>
                   </div>
                   <input type="text" name="units-item" value="1">
                   <div class="wrap-icon">
                     <i class="material-icons center tiny left remove-unit-item action">remove</i>
                   </div>
               </div>
               <div class="add center action">
                 <a href="#" class="btn ">ADD TO CART</a>
               </div>
             </div>
         </div>
      </div>
      <!-- item #1 [final]-->
      <!-- item #1 [inicio]-->
      <div class="product-item card-panel">
         <div class="row">
             <div class="image center-align">
                 <img src="https://www.royalresorts.com//wp-content/uploads/2016/02/gift-500.png" alt="chocolate" class="responsive-img" />
             </div>
             <div class="description">
               <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               </p>
               <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
               <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
             </div>
             <div class="units">
               <h6 class="price center-align">$00.0 MX</h6>
               <div class="wrap-units clear">
                   <div class="wrap-icon">
                     <i class="material-icons tiny right  add-unit-item action">add</i>
                   </div>
                   <input type="text" name="units-item" value="1">
                   <div class="wrap-icon">
                     <i class="material-icons center tiny left remove-unit-item action">remove</i>
                   </div>
               </div>
               <div class="add center action">
                 <a href="#" class="btn ">ADD TO CART</a>
               </div>
             </div>
         </div>
      </div>
      <!-- item #1 [final]-->
      <!-- item #1 [inicio]-->
      <div class="product-item card-panel">
         <div class="row">
             <div class="image center-align">
                 <img src="https://www.royalresorts.com//wp-content/uploads/2016/02/gift-750.png" alt="chocolate" class="responsive-img" />
             </div>
             <div class="description">
               <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               </p>
               <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
               <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
             </div>
             <div class="units">
               <h6 class="price center-align">$00.0 MX</h6>
               <div class="wrap-units clear">
                   <div class="wrap-icon">
                     <i class="material-icons tiny right  add-unit-item action">add</i>
                   </div>
                   <input type="text" name="units-item" value="1">
                   <div class="wrap-icon">
                     <i class="material-icons center tiny left remove-unit-item action">remove</i>
                   </div>
               </div>
               <div class="add center action">
                 <a href="#" class="btn ">ADD TO CART</a>
               </div>
             </div>
         </div>
      </div>
      <!-- item #1 [final]-->



    </div>

    <!-- pagination -->
    <div class="row">
      <ul class="pagination right">
         <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
         <li class="active"><a href="#!">1</a></li>
         <li class="waves-effect"><a href="#!">2</a></li>
         <li class="waves-effect"><a href="#!">3</a></li>
         <li class="waves-effect"><a href="#!">4</a></li>
         <li class="waves-effect"><a href="#!">5</a></li>
         <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
       </ul>
    </div>
     <!-- fin pagination -->


    <!-- Our Brands  -->
    <div class="row brands">
      <div class="col s12">
        <h5 class="uppercase">Our Brands</h5>
      </div>
      <div class="col s12">
        <div id="owl-demo-3" class="owl-carousel owl-theme">
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador1.jpg" /></div>
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador2.jpg" /></div>
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador3.jpg" /></div>
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador4.jpg" /></div>
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador5.jpg" /></div>
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador6.jpg" /></div>
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador7.jpg" /></div>
           <div class="item"><img src="https://www.royalresorts.com/wp-content/uploads/2016/08/patrocinador8.jpg" /></div>
         </div>
      </div>
    </div>


</div>
</div>
</div>
