<div class="bg-section1">
  <div class="wrap-section1" >
    <div class="left action navigation">
        <a href="#" id="button-cart" ><span>Order Confirmation</span></a>
    </div>
    <div class="right action navigation">
      <a href="#" id="button-cart" ><span>Home</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
      <a href="#" id="button-cart" ><span>Royal Market</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
      <a href="#" id="button-cart" ><span>Order Confirmation</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
    </div>
  </div>
</div>
<!-- Imagen del paso actual de la operacion -->
<div class="row">
  <div class="col s12 center with-margin">
      <div class="dividerbold">
      </div>
      <img class="responsive-img" src="img/order.png" alt="history" />
      <div class="dividerbold">
      </div>
  </div>
</div>

<!-- contenido de la pagina dentro del main  -->
<div class="wrap-contenido" id="order-confirmation">
  <div class="row">
      <div class="col s12 titutlo firstwithmargin">
          <h1>WE HAVE RECEIVED YOUR ORDER</h1>
          <h2 class="center-align">THANK YOU FOR USING WWW.ROYALRESORTS.COM</h2>
      </div>
      <div class="col s12 titutlo padding-items" >
        <ul>
          <li class="item naraja-fuerte-diseno"><span class="item gris-text">
        Your reference number is: <strong class="azul-fuerte-diseno-text">00000</strong>
        </span></li>
          <li class="item naraja-fuerte-diseno"><span class="item gris-text">
        A confirmation email has been sent to the following address: <strong class="azul-fuerte-diseno-text">exaple@gmail.com</strong>
        </span></li>
          <li class="item naraja-fuerte-diseno"><span class="item gris-text">
        Your order is as follows: </span></li>
        </ul>
      </div>
      <div class="col s12">

        <div id="wrap-preview-cart">
          <div  class="preview_cart ">

            <div class="row">
              <div class="col s12 navegacion">

              </div>
              <div class="col s12 items">

                  <!-- Items del carrito de compras  [inicio]-->
                  <!-- Item #2 -->
                  <div class="item row card cart">
                      <div class="col s12 m2 description-item">
                          <label for="">Code</label>
                          <p class="description"><strong>00001</strong></p>
                      </div>
                      <div class="col s12 m5 description-item">
                        <label for="">Description</label>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <div class="col s6 m3  description-item titutlo">
                        <label for="">Units</label>
                        <h5>1</h5>
                      </div>
                      <div class="col s6 m2 description-item">
                        <label for="">Price</label>
                        <p class="price">$00.00</p>
                      </div>
                  </div>
                  <!-- Item #2 -->
                  <div class="item row card cart">
                      <div class="col s12 m2 description-item">
                          <label for="">Code</label>
                          <p class="description"><strong>00002</strong></p>
                      </div>
                      <div class="col s12 m5 description-item">
                        <label for="">Description</label>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <div class="col s6 m3  description-item titutlo">
                        <label for="">Units</label>
                        <h5>1</h5>
                      </div>
                      <div class="col s6 m2 description-item">
                        <label for="">Price</label>
                        <p class="price">$00.00</p>
                      </div>
                  </div>
                  <!-- Item #3 -->
                  <div class="item row card cart">
                      <div class="col s12 m2 description-item">
                          <label for="">Code</label>
                          <p class="description"><strong>00003</strong></p>
                      </div>
                      <div class="col s12 m5 description-item">
                        <label for="">Description</label>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <div class="col s6 m3  description-item titutlo">
                        <label for="">Units</label>
                        <h5>1</h5>
                      </div>
                      <div class="col s6 m2 description-item">
                        <label for="">Price</label>
                        <p class="price">$00.00</p>
                      </div>
                  </div>
                  <!-- Items del carrito de compras  [final]-->

              </div>
              <div class="col s12 total card-panel">
                <div class="left">
                  <h6>Sub Total</h6>
                  <h6 class="discount">10% Discount</h6>
                  <h6 class="bold">Total</h6>
                </div>
                <div class="right">
                  <h6>$00.00</h6>
                  <h6 class="discount">$00.00</h6>
                  <h6 class="bold">$00.00</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>



  </div>
</div>
