<div class="bg-section1">
  <div class="wrap-section1" >
    <div class="left action navigation">
        <a href="#" id="button-cart" ><span>CART ITEMS</span></a>
    </div>
    <div class="right action navigation">
      <a href="#" id="button-cart" ><span>Home</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
      <a href="#" id="button-cart" ><span>Royal Market</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
      <a href="#" id="button-cart" ><span>Cart Items</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
    </div>
  </div>
</div>
<!-- Imagen del paso actual de la operacion -->
<div class="row">
  <div class="col s12 center with-margin">
      <div class="dividerbold">
      </div>
      <img class="responsive-img" src="img/shopping-cart.png" alt="history" />
      <div class="dividerbold">
      </div>
  </div>
</div>

<!-- contenido de la pagina dentro del main  -->
<div class="wrap-contenido" id="shopping-items">
  <div class="row">
      <div class="col s12 titutlo">
          <h1>Your Shopping Cart Items</h1>
      </div>
      <div class="col s12">

        <div id="wrap-preview-cart">
          <div  class="preview_cart ">

            <div class="row">
              <div class="col s12 navegacion">

              </div>
              <div class="col s12 items">

                  <!-- Items del carrito de compras  [inicio]-->
                  <!-- Item #2 -->
                  <div class="item row card cart">
                      <div class="col s12 m12 l1 close"><a href="#" class="close-item-cart"><i class="material-icons tiny right">clear</i></a></div>
                      <div class="col s12 m2 l2 description-item">
                          <label for="">Code</label>
                          <p class="description">00001</p>
                      </div>
                      <div class="col s12 m5 l4 description-item">
                        <label for="">Description</label>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <div class="col s6 m3 l2 description-item">
                        <label for="">Units</label>
                        <div class="wrap-units">
                            <i class="material-icons left tiny add-unit-item action">add</i>
                            <input type="text" value="1" name="units-item">
                            <i class="material-icons left tiny remove-unit-item action">remove</i>
                        </div>
                      </div>
                      <div class="col s6 m2 l2 description-item">
                        <label for="">Price</label>
                        <p class="price">$00.00</p>
                      </div>
                  </div>
                  <!-- Item #2 -->
                  <div class="item row card cart">
                      <div class="col s12 m12 l1 close"><a href="#" class="close-item-cart"><i class="material-icons tiny right">clear</i></a></div>
                      <div class="col s12 m2 l2 description-item">
                          <label for="">Code</label>
                          <p class="description">00001</p>
                      </div>
                      <div class="col s12 m5 l4 description-item">
                        <label for="">Description</label>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <div class="col s6 m3 l2 description-item">
                        <label for="">Units</label>
                        <div class="wrap-units">
                            <i class="material-icons left tiny add-unit-item action">add</i>
                            <input type="text" value="1" name="units-item">
                            <i class="material-icons left tiny remove-unit-item action">remove</i>
                        </div>
                      </div>
                      <div class="col s6 m2 l2 description-item">
                        <label for="">Price</label>
                        <p class="price">$00.00</p>
                      </div>
                  </div>
                  <!-- Items del carrito de compras  [final]-->

              </div>
              <div class="col s12 m4 offset-m8 l4 offset-l8 total">
                <div class="left ">
                  <h6>Sub Total</h6>
                  <h6 class="discount">10% Discount</h6>
                  <h6 class="bold">Total</h6>
                </div>
                <div class="right">
                  <h6>$00.00</h6>
                  <h6 class="discount">$00.00</h6>
                  <h6 class="bold">$00.00</h6>
                </div>
              </div>
              <div class="col s12 actions">
                <div class="left">

                </div>
                <div class="right">
                    <a class="waves-effect waves-light btn">CONTINUE</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
