<!-- seccion : navegacion de secciones -->
<div class="bg-section1">
  <div class="wrap-section1" >
    <div class="left action navigation">
        <a href="#" id="button-cart" ><span>GIFT CERTIFICATES</span></a>
    </div>
    <div class="right action navigation">
      <a href="https://www.royalresorts.com/" id="button-cart" ><span>Home</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
      <a href="https://www.royalresorts.com/guest-services-and-amenities/the-royal-market/" id="button-cart" ><span>Royal Market</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
      <a href="#" id="button-cart" ><span>Special Gifts</span><i class="material-icons tiny">keyboard_arrow_right</i></a>
    </div>
  </div>
</div>
<!-- contenido de la pagina teniendo su propia hoja de estilo sass -->
<div id="special-gifts">
  <div class="wrap-contenido" >
      <div class="row">
          <div class="col s12 title">
              <h1>Special Gifts</h1>
              <h3>SURPRISE YOUR FAMILY AND FRIENDS BY SENDING THEM A GROCERY STORE GIFT CERTIFICATE</h3>
          </div>
          <div class="col s12 text-title">
              <p>
                &#8226; With a grocery store gift certificate your family and friends will be able to shop at The Royal Market for their favorite candies, beverages and other treats during their Cancun or Riviera Maya vacation.<br>
                &#8226; Grocery store gift certificates are valid at all The Royal Market locations, except The Royal Market at Captains Cove. They are valid for one transaction only and cannot be redeemed for cash. Refunds will not be given
                if you do not use the full value of the certificate. Certificates are valid only during your stay at Royal Resorts.
              </p>
          </div>
      </div>
  </div>
    <div class="wrap-certificados">
      <div class="wrap-contenido ">
        <div class="row">
          <div class="col s12 certificados">
              <h1>GROCERY GIFT CERTIFICATES ARE AVAILABLE IN THE FOLLOWING DENOMINATIONS</h1>
              <div class="row">
                  <div class="col s12 m6 l4 certificado">
                      <div class="image">
                        <a href="#"><img src="https://app.royalresorts.com/cybermall/img/certificate300.jpg" alt="Certificate 300"></a>
                      </div>
                      <a href="#" class="btn btn-large">Add to Cart</a>
                  </div>
                  <div class="col s12 m6 l4 certificado">
                    <div class="image">
                      <a href="#"><img src="https://app.royalresorts.com/cybermall/img/certificate500.jpg" alt="Certificate 500"></a>
                    </div>
                      <a href="#" class="btn btn-large">Add to Cart</a>
                  </div>
                  <div class="col s12 m6 l4 certificado">
                    <div class="image">
                      <a href="#"><img src="https://app.royalresorts.com/cybermall/img/certificate1000.jpg" alt="Certificate 1000"></a>
                    </div>
                      <a href="#" class="btn btn-large">Add to Cart</a>
                  </div>
              </div>
              <p>
                <span>PLEASE NOTE:</span> Certificates will be delivered directly to member recipients in their own villa once they have checked in. You will only receive the confirmation number once the purchase is complete.
                If you have problems processing your payment, please contact us at: bcenter@royalresorts.com bcenter@royalresorts.com
              </p>
          </div>
        </div>
      </div>
    </div>
    <!-- contenido de los productos -->
    <div class="wrap-certificados">
      <div class="wrap-contenido ">
        <div class="row">
          <div class="col s12 productos">
              <h1>ORDER FLOWERS, FRUIT BASKETS, WINE AND CHOCOLATES</h1>
              <p>
                A gift of flowers is the perfect way to say “I love you” to someone special and celebrate a birthday, anniversary, Mother’s Day and any other important occasion, even on vacation. Browse the online flower catalog, take your pick and order online. The Royal Market will deliver to the recipient’s suite.
                Indulge your family and friends even more with surprise gifts for their Cancun vacation. Order a fruit basket, chocolates and candies or a bottle of wine or champagne to toast a special occasion.
                Orders will be delivered to the Royal Resorts in Cancun and The Royal Haciendas in the Riviera Maya.
              </p>
              <strong>Start shopping now</strong>
          </div>
          <div class="col s12 productos">
              <div class="row">
                  <div class="col s12 m4">
                    <ul class="collection">
                      <li class="collection-item">
                        <h5>THE ROYAL MARKET</h5>
                      </li>
                       <li class="collection-item">
                         <a class="categoria-productos" href="#" data-categoria="chocolatescandies">CHOCOLATES AND CANDIES</a>
                         <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                       </li>
                       <li class="collection-item">
                         <a class="categoria-productos" href="#" data-categoria="flowers">FLOWERS</a>
                         <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                       </li>
                       <li class="collection-item">
                         <a class="categoria-productos" href="#" data-categoria="fruitbaskets">FRUIT BASKETS</a>
                         <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                       </li>
                       <li class="collection-item">
                         <a class="categoria-productos" href="#" data-categoria="liquors">LIQUORS</a>
                         <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                       </li>
                       <li class="collection-item">
                         <a class="categoria-productos" href="#" data-categoria="wine">WINE</a>
                         <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                       </li>
                    </ul>
                  </div>
                  <div class="col s12 m8">
                      <div class="row wrap-product-items list">
                        <!-- categoria  chocolatescandies -->
                        <div class="wrap-items-categoria active" id="chocolatescandies">
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Dark-chocolate-covered.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Dark-chocolate-coconut.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Dark-chocolate.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                        </div>
                        <!-- final categoria -->

                        <!-- categoria  chocolatescandies -->
                        <div class="wrap-items-categoria" id="flowers">
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Flowers-DFAP-010.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Flowers-DFAP-011.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Flowers-DFT-001.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                        </div>
                        <!-- final categoria -->

                        <!-- categoria  chocolatescandies -->
                        <div class="wrap-items-categoria" id="fruitbaskets">
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Fruit-DFCF-003.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Fruit-DFCF-004.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Fruit-DFCF-005.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Fruit-DFCF-006.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                        </div>
                        <!-- final categoria -->

                        <!-- categoria  chocolatescandies -->
                        <div class="wrap-items-categoria" id="liquors">
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/kahlua.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/absolute.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Whisky.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                        </div>
                        <!-- final categoria -->

                        <!-- categoria  chocolatescandies -->
                        <div class="wrap-items-categoria" id="wine">
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Shiraz.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/Pinot-Grigio.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                          <!-- item #1 [inicio]-->
                          <div class="product-item card-panel">
                             <div class="row">
                                 <div class="image center-align">
                                     <img src="img/specialgift/White-Zinfandel.jpg" alt="chocolate" class="responsive-img" />
                                 </div>
                                 <div class="description">
                                   <p>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                   </p>
                                   <h6><strong>Brand: </strong>Lorem ipsum dolor</h6>
                                   <h6><strong>Unit: </strong>Lorem ipsum dolor</h6>
                                 </div>
                                 <div class="units">
                                   <h6 class="price center-align">$00.0 MX</h6>
                                   <div class="wrap-units clear">
                                       <div class="wrap-icon">
                                         <i class="material-icons tiny right  add-unit-item action">add</i>
                                       </div>
                                       <input type="text" name="units-item" value="1">
                                       <div class="wrap-icon">
                                         <i class="material-icons center tiny left remove-unit-item action">remove</i>
                                       </div>
                                   </div>
                                   <div class="add center action">
                                     <a href="#" class="btn ">ADD TO CART</a>
                                   </div>
                                 </div>
                             </div>
                          </div>
                          <!-- item #1 [final]-->
                        </div>
                        <!-- final categoria -->



                      </div>
                  </div>
              </div>
          </div>

        </div>
      </div>
    </div>
    <!-- fin del contenido de los productos -->
</div>
