@import "variables";
@import "mixins";
@import "header";
/** contenido de la pagina **/
main{
  /** section #1 de la pagina menu departamentos y carrito de compras **/
  @import "cartSection";
  /** contenido principal de la pagina **/
  @import "index";
  @import "shoppingItems";
  @import "orderconfirmation";
  @import "specialgifts";

}
@import "footer";

 /** helpers clases y otros **/
.clear{
  @include clearfix;
}
.with-margin{
  margin:5px;
  margin-bottom: 0px;
  @include tablet{
  margin: 20px;
  };
}

.dividerbold {
    border: 2px solid #EDE9E9;
    border-radius: 150px/5px;
    height: 0px;
    text-align: center;
    @include tablet{
      margin-left: 155px;
      margin-right: 155px;
    };
}
